<!DOCTYPE html>
<html>
<head>
	<title>Report</title>
</head>
<body>
	<div>
		<h2 align='Left'>Generate Billing Info</h2>
		<br/>
		<a href="/buyer/generateBillingReport">
			<button type="button">
				Generate
			</button>
		</a>
		<br/>
		<br/>
	</div>
</body>
</html>