<!DOCTYPE html>
<html>
<head>
    <title>Seatch Freelancer List</title>
    <link rel="stylesheet" href="/xyz/buyer/css/style.css">
	<script type="text/javascript" src="/xyz/buyer/js/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="/xyz/buyer/js/searchFreelancer.js"></script>
</head>
<body>
<div id="workspace">
<h2 align='center'>Search Freelancer</h2>
		
		<form>
			<input type="text" id="username" name="username">
			<input type="button" name="search" value="Search">
		</form>

		<div id="searchresult">
		</div>
	</div>
</body>
</html>